<app-header></app-header>
<div style="background: #b3d1f0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="width:100%">
                <div class="pt-5 pb-4">
                    <h1>Learn. Practice. Apply.</h1>
                    <p class="pb-4">
                        Get the skills you need to transform your career and be step ahead!
                    </p>
                    <p>
                        <a href="#heading" class="btn btn-primary">START LEARNING NOW</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <img src="assets/images/header-banner.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <app-courselist></app-courselist>
</div>
<app-footer></app-footer>