<div class="col-sm-10">
    <form #form="ngForm" [formGroup]="topicForm" (ngSubmit)="saveData()">
        <h2 *ngIf="topicForm.controls['id'].value==0">Create Topic</h2>
        <h2 *ngIf="topicForm.controls['id'].value!=0">Edit Topic</h2>
        <hr>
        <div class="form-group">
            <label class="control-label">Course</label>
            <select class="form-control" name="courseId" formControlName="courseId">
                <option [value]="''">-Select-</option>
                <option *ngFor="let item of courses" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="topicForm.controls['courseId'].errors && (form.submitted || topicForm.controls['courseId'].dirty)"
                class="text-danger">
                <span [hidden]="!topicForm.controls['courseId']?.hasError('required')">Please Select Course</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Topic Name</label>
            <input type="text" class="form-control" name="topicName" formControlName="topicName" />
            <div *ngIf="topicForm.controls['topicName'].errors && (form.submitted || topicForm.controls['topicName'].dirty)"
                class="text-danger">
                <span [hidden]="!topicForm.controls['topicName']?.hasError('required')">Please Enter Topic Name</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Sequence</label>
            <input type="number" class="form-control" name="sequence" formControlName="sequence" />
            <div *ngIf="topicForm.controls['sequence'].errors && (form.submitted || topicForm.controls['sequence'].dirty)"
                class="text-danger">
                <span [hidden]="!topicForm.controls['sequence']?.hasError('required')">Please Enter Sequence</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Status</label>
            <select class="form-control" name="isActive" formControlName="isActive">
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
            <div *ngIf="topicForm.controls['isActive'].errors && (form.submitted || topicForm.controls['isActive'].dirty)"
                class="text-danger">
                <span [hidden]="!topicForm.controls['isActive']?.hasError('required')">Please Select Status</span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            &nbsp;<a [routerLink]="['/admin/topics']" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>