<h2>Lessons List</h2>
<hr>
<a [routerLink]="['/admin/topic',topicId,'lesson']" class="btn btn-primary">Create</a>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Video</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Content Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of courseLessons">
      <td>{{item.id}}</td>
      <td>
        <iframe class="embed-responsive-item w-50" 
        [src]="item.videoPath | safe" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </td>
      <td>{{item.lessonName}}</td>
      <td>{{item.duration}}</td>
      <td>{{item.contentPath}}</td>
      <td>
        <a [routerLink]="['/admin/topic',topicId,'lesson', item.id]" class="btn btn-success">Edit</a>
        &nbsp; <a (click)="deleteLesson(item.id)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>