<h2>My Orders</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Payment Id</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orders">
            <td>{{item.id}}</td>
            <td>{{item.paymentId}}</td>
            <td>{{item.createdDate}}</td>
            <td>
                <a [routerLink]="['/user/order',item.id]" class="btn btn-success">Details</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row" *ngIf="orders!=undefined && orders.length==0">
    <div class="col-sm-12 mt-4">
        <p style="min-height:300px">
            You haven't purchased any course yet. Please search your course from the list! <br><br>
            <a href="/courses" class="btn btn-primary">Browse Courses</a>
        </p>
    </div>
</div>